/* src/Components/Login.css */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-form button {
  padding: 10px;
  background-color: #ff4c61;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #556cd6;
}
